<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group" style="overflow: hidden; width: 100%">
      <div class="list-group-item">
        <h1>Local Events<br/>
        </h1>
         <input bs-form-control type="text" 
        ng-model="search"
        label="Search" 
        label-class="col-xs-3 col-sm-2 col-lg-1" 
        class="col-xs-9 col-sm-10 col-lg-11"
        placeholder="Search"
       />
      </div>

      <div ng-repeat="event in events | filter:filterFunction | filter:search" ng-swipe-right="event.active = true" ng-swipe-left="event.active=false" carousel-example-item>
      <div style="width:100px;" class="pull-left" ng-show="event.active" ng-click="event.show = false">
                  <i style="color:green;" class="fa fa-check feature-icon text-primary"></i>
              </div>
      <div class="list-group-item media" >
        
              
        <div class="pull-left">
          <i class="fa feature-icon text-primary {{event.icon}}"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ event.title }}</h3>
            <p>{{ event.date | date : "H:mm d, MMMM"}} </p>
            <a href="https://www.google.com.au/maps/place/{{ event.address}}"><p>{{ event.address }}</p></a>
        </div>
      </div>
      </div>

      <!-- <div ng-show="showFirst">
          <div style="width:100px" class="pull-left" ng-show="showFirstHide">
              <div class="pull-left">
                  <i class="fa fa-times feature-icon  text-primary" ng-click="showFirst = false;"></i>
              </div>
          </div>
          <div class="list-group-item media"  carousel-example-item  ng-swipe-right="showFirstHide = true" ng-swipe-left="showFirstHide = false">
        <div class="pull-left">
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Test responsiveness and speed</h3>
            Scroll, tap, navigate, test that everything is smooth
        </div>
              </div>
      </div>


      <div class="list-group-item media" carousel-example-item ng-show="showThird">
        <div class="pull-left">
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Resize your browser</h3>
            Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>

      <div class="list-group-item media">
        <div class="pull-left">
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Submit an issue</h3>
            Please submit any issue you'll find. It would help a lot!<br>
            Just in case, don't forget to indicate your user agent string:<br>
            {{userAgent}}
        </div>
      </div> -->

    </div>

  </div>
</div>
